.navbar {
  position: relative;
}

.dashContainner {
  margin-top: 30px;
  gap: 20px;
}
.left {
  border-radius: 10px;
  border: solid rgba(219, 219, 219, 0.624) 2px;
  min-height: 70vh;
  min-width: 200px;
  overflow: hidden;
}
.right {
  flex: 1;
  border-radius: 10px;
  border: solid rgba(219, 219, 219, 0.624) 2px;
}
.dashNavs {
  display: flex;
  flex-direction: column;
}
.dashNav {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashNav:hover {
  background-color: rgb(235, 235, 235);
}
.selected {
  background-color: var(--green);
}
.userBanner {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--black);
  border: solid rgba(219, 219, 219, 0.624) 2px;
  border-radius: 10px;
  padding: 10px;
}
.userpfp {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100px;
  border: solid black 5px;
}
hr {
  border-color: rgba(219, 219, 219, 0.624);
  width: 100%;
}

.userdetails {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input {
  padding: 10px;
  font-size: 18px;
  color: var(--black);
}
.title {
  margin-bottom: 8px;
}
.textarea {
  font-size: 18px;
  padding: 10px;
  font-family: inherit;
  width: 80%;
  min-height: 200px;
  color: var(--black);
}
.detail-wide {
  width: 100%;
}
.document {
  aspect-ratio: 16/9;
  width: 50%;
  height: auto;
  object-fit: cover;
}
.contentContainner {
  padding: 15px;
}
.userImage2 {
  aspect-ratio: 4/3;
  object-fit: cover;
  max-width: 200px;
  border: solid rgb(217, 217, 217) 2px;
  border-radius: 10px;
}
.serviceType {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  padding: 3px 10px 3px 10px;
  width: fit-content;
  font-size: 13px;
  margin-top: 10px;
}
.st-big {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
