.content {
  margin-top: 100px;
}
.coverImage {
  width: 100%;
  border-radius: 30px;
  height: 400px;
  object-fit: cover;
}
.verifyedIcon {
  height: 20px;
}
.worker {
  margin-top: -100px;
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.workerProfile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: solid white 10px;
}
.workerInfo {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.workerName {
  font-size: 30px;
  font-weight: bolder;
}
.verifedTag {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.highlight {
  color: crimson;
  font-weight: bold;
  font-size: 15px;
}
.workerUsername {
  color: var(--black);
}

/* \/////////////////////////// main content /////////  */

.mainContent {
  display: flex;
  min-height: 70vh;
  margin-top: 50px;
  gap: 20px;
}
.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.right {
  flex: 1;
  max-width: 300px;
  box-shadow: rgba(192, 192, 192, 0.56) 0px 0px 10px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.green {
  color: var(--green);
}
.title {
  width: fit-content;
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: var(--black);
  justify-content: flex-start;
}
.title2 {
  width: fit-content;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  justify-content: flex-start;
  margin-bottom: 10px;
}
.underline {
  border-top: solid var(--green) 3px;
  width: 70%;
  margin-left: 0px;
  margin-top: 3px;
}

.detail {
  font-size: 16px;
  color: var(--black);
  line-height: 25px;
  max-width: 800px;
  text-align: justify;
}
.btn {
  margin: 0px;
  min-height: 50px;
  font-size: 18px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  margin: 0px;
}
.btn:hover {
  background-color: black;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.smallicon {
  height: 20px;
}
.locationDetail {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* ///////////////////// SLIDER ///////////////////  */

.slider {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.slide {
  object-fit: cover;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  transition: 0.2s;
}

.controller {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 100%;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.control {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px;
  transition: 0.2s;
  cursor: pointer;
}
.control:hover {
  scale: 1.5;
  background-color: rgb(232, 232, 232);
}
.controller .selected {
  background-color: var(--green);
}

/* ////////////////////// REVIEW ////////////////////////  */

.reviews {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 20px;
}

.reviewContainner {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* .reviewContainner:nth-child(even) {
  flex-flow: row-reverse;
} */
.rImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.review {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: rgb(199, 199, 199) -5px 5px 10px;
  padding: 20px 10px 20px 10px;
  border: solid rgb(222, 222, 222) 1px;
  max-width: 800px;
}
.rUsername {
  font-size: 20px;
  font-weight: bold;
  color: var(--black);
}
.review::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 40%;
  transform: translateY(-50%);
  /* margin-left: -5px; */
  border-width: 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  transform: rotate(90deg);
  z-index: 1;
}
/* .reviewContainner:nth-child(even) .review {
  box-shadow: rgb(199, 199, 199) 5px 5px 10px;
}
.reviewContainner:nth-child(even) .review::before {
  content: "";
  position: absolute;
  right: -25px;
  left: auto;
  top: 40%;
  transform: translateY(-50%) rotate(270deg);
  border-width: 15px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  z-index: 1;
} */
.reviewsForm {
  margin-top: 30px;
  box-shadow: rgb(199, 199, 199) 0px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.input {
  padding: 10px;
  font-size: 18px;
  color: var(--black);
}
.textarea {
  font-size: 18px;
  padding: 10px;
  font-family: inherit;
  width: auto;
  height: 100px;
  color: var(--black);
  border-radius: 7px;
}
.btn {
  min-width: 100px;
  margin-top: 20px;
}
.btn-transparent {
  background-color: black;
  color: rgb(255, 255, 255);
  border: solid black 2px;
}
.btn-transparent:hover {
  color: rgb(0, 0, 0);
  background-color: var(--green);
}
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 50px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffa600;

  transition: color 0.2s;
}

.rating input:checked ~ label {
  animation: starAnimation 0.8s ease-out;
}
.avgContainner {
  font-size: 20px;
}
.avg {
  color: #ffa600;
  font-size: 30px;
  font-weight: bold;
}

.avg::after {
  content: "\2605";
  font-size: 30px;
}

/* /// rating 2    */
.rating2 {
  display: inline-block;
}

.rating2 input {
  display: none;
}

.rating2 label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating2 label:before {
  content: "\2605";
  font-size: 30px;
}

.rating2 input:checked ~ label {
  animation: starAnimation 0.8s ease-out;
  color: #ffa600;
}

.ReviewTitle {
  font-size: 30px;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.seperator {
  margin-top: 100px;
}

@keyframes starAnimation {
  0% {
    scale: 1;
  }
  30% {
    scale: 0.8;
  }
  50% {
    scale: 1.5;
  }
  70% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
button:disabled {
  cursor: not-allowed !important;
}
