.nav {
  height: 70px;
  width: 100%;
  margin-bottom: 50px;
}

.logo {
  height: 70%;
  width: auto;
}
.input {
  height: 20px;
  width: auto;
  padding: 15px;
  font-size: 18px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
}
.formTitle {
  font-weight: bold;
  font-size: 20px;
  border-bottom: solid 4px rgb(225, 225, 225);
  padding: 10px;
  color: var(--black);
}
#previewImage {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.btn {
  height: 50px;
  font-size: 18px;
  padding: 15px;
  background-color: var(--blue);
}
.btn-primary {
  height: 50px;
  font-size: 18px;
  padding: 15px;
}

.invalid {
  background-color: rgb(255, 127, 127);
}
/* //////////////////////////// application /////////////////  */
.select {
  height: auto;
  width: auto;
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
}
option {
  color: black;
}
.aboutme {
  margin-top: 10px;
}
.label {
  font-weight: bold;
  color: var(--black);
  margin-bottom: 10px;
}
textarea {
  resize: vertical;
  font-size: 18px;
  padding: 10px;
  outline: none;
}
hr {
  border-color: rgb(240, 240, 240);
}
.preview {
  min-height: 100px;
  width: 100px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  outline: none;
  border: none;
  height: auto;
  object-fit: cover;
}
.flex {
  flex: 1;
  margin-top: 10px;
}
.subtitle {
  font-size: 15px;
  margin-bottom: 10px;
}
